<div class="userpage">
  {{!-- <h1>{{USER NAME}} profile</h1> --}}

  <p>Спасибо за игру!</p>

  {{!-- 
  {{#each allDecks}}
  <div class="deck__div">
    <a class="deck" href="/new/?userId={{../idOfUser}}&deckId={{this._id}}">
      <div>
        {{this.name}}
      </div>
    </a>
  </div>
  {{/each}}

          <h2>Deck "{{this.deck.name}}"</h2>
          <ul>
            <li>Date: {{this.normData}}</li>
            <li>Cards in Deck: {{cards.length}}</li>
            <li>First Guess Correct: {{this.counterFirstTrueAnswer}}</li>
            <li>Total Guesses: {{this.counterAnswer.length}}</li>
          </ul>
        </a>--}}
</div>
